@page "/"

<PageTitle>Home</PageTitle>


<h3 style="background-color: darkred; color: white; border: 1px solid black;">If you want to see Routable Component Click on following link: </h3>
<br />
<NavLink href="/r_comp" class="nav-link">Go to Routable Component</NavLink>
<br />



<h3 style="background-color: darkred; color: white; border: 1px solid black;">Non-Routable Component is: </h3>
<br/>
<Non_Routable_comp/>