USE [master]
GO
/****** Object:  Database [CustomerDB]    Script Date: 04/12/2024 1:07:43 pm ******/
CREATE DATABASE [CustomerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CustomerDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CustomerDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CustomerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 04/12/2024 1:07:43 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerName] [nchar](10) NOT NULL,
	[Country] [nchar](10) NOT NULL,
	[Gender] [nchar](10) NOT NULL,
	[Status] [nchar](10) NOT NULL,
	[Hobbies] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
